button{
  border-radius: 4px;
  border: none;
  background-color: #d99e30;
  color: #efefe7;
  height: 30px;
  width: fit-content;
  box-shadow: 2px 2px 4px #888;
}

button:hover{
  background-color: #f8bb00;
}

input{
  background-color: #dfdede;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  height: 30px;
}

input:focus{
  border-bottom: 3px solid #f8bb00;
  box-shadow: inset 0 0 10px rgba(214, 214, 214, 0.66);
  border-radius: 4px 4px 2px 2px;
}

#regresarTablas{
  display: block;
  top: 10px;
}

body{
  margin: 0;
}
