.imgside{
  flex: 1;
  align-content: center;
}

.frmside{
  flex: 1;
  align-content: center;
  padding: 1.5rem;
}

.login{
  /*background-image: url('../img/unison.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(79, 118, 151);
  /*background: linear-gradient(90deg,rgba(0, 82, 158, 1) 0%, rgba(248, 187, 0, 1) 100%);*/

}

.login-form{
  max-width: 400px;
  height: 40vh;


  background-color: rgba(0, 82, 158, 0.7);
  color: aliceblue;
  border-radius: 8px 8px 0 0;

  box-shadow:  0 4px 10px rgba(0, 0, 0, 0.36);
  backdrop-filter: blur(10px);

  padding-bottom: 5svh;
  padding-left: 10svh;
  padding-top: 1svh;
}

button.loginbutton{
  border: none;
  border-radius: 0 0 4px 4px;
  color: #e7f1f0;
  background-color: rgba(159, 166, 189, 0.67);
  height: 30px;
  width: 100%;
  max-width: 400px;
  margin-left: 0;
  backdrop-filter: blur(10px);
  box-shadow:  0 4px 10px rgba(0, 0, 0, 0.36);
}

button.loginbutton:hover{
  background-color: rgba(151, 156, 177, 0.81);
  box-shadow: inset 0 0px 15px rgba(143, 143, 143, 0.68);
}

input.login{
  background-color: ghostwhite;
  border: none;
  outline: none;
  border-radius: 4px;
}

input.login:focus{
  border-bottom: 3px solid #f8bb00;
  box-shadow: inset 0 0 10px rgba(135, 135, 135, 0.66);
  border-radius: 4px 4px 2px 2px;
}
